<script src="https://use.typekit.net/ayg4pcz.js"></script>
<script>try { Typekit.load({ async: true }); } catch (e) { }</script>

<div class="container">
  <h1 class="welcome text-center">Welcome to
    <br> Ice Code</h1>
  <div class="card card-container">
    <h2 class='login_title text-center'>Login</h2>
    <hr>

    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <p class="input_title">Username</p>
      <input [(ngModel)]="username" type="text" id="inputEmail" class="login_box" placeholder="Username" required autofocus name="username">
      <p class="input_title">Password</p>
      <input [(ngModel)]="password" type="password" id="inputPassword" class="login_box" placeholder="******" required name="password">
      <div id="remember" class="checkbox">
        <label>

        </label>
      </div>
      <button (click)="onLoginClick()" class="btn btn-lg btn-primary" type="submit">Login</button>
    </form>
    <!-- /form -->
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->